@model ContatoModel
@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato @Model.Nome?</h3>
</div>

<a class="btn btn-secondary" asp-action="Index" asp-controller="Contato" role="button">Cancelar</a>
<a class="btn btn-danger" asp-action="ApagarContato" asp-controller="Contato" asp-route-id=@Model.Id role="button">Apagar</a>
