@model ContatoModel
@{
    ViewData["Title"] = "Cadastrar contato";
}

<script>
    
</script>

<div class="text-center">
    <br />
    <h1 class="display-4">Cadastrar contato</h1>
    <br />
</div>

<form method="post" asp-controller="Contato" asp-action="CriarContato">
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Digite o nome do contato" required>

    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Digite o email do contato" required>

    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input class="form-control" type="tel" pattern="\d{11}" asp-for="Celular" id="celular" maxlength="11" onkeydown="validarNumeros(event);" placeholder="Digite seu telefone ddd+numero" required>

    </div>
    <button type="submit" class="btn btn-success">Adicionar contato</button>
    <a class="btn btn-secondary" id="voltar" asp-controller="Contato" asp-action="Index">Voltar</a>
</form>

