@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}

<script>
    function validarNumeros(event) {
        var tecla = event.key;

        if (!/^\d$/.test(tecla) && tecla !== "Backspace") {
            event.preventDefault();
        }
    }

</script>

<div class="text-center">
    <br />
    <h1 class="display-4">Editar contato</h1>
    <br />
</div>

<form method="post" asp-controller="Contato" asp-action="EditarContato">

    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type=text asp-for="Nome" class="form-control" id="nome" placeholder="Digite o nome do contato">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Digite o email do contato">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input class="form-control" asp-for="Celular" id="celular" maxlength="11" onkeydown="validarNumeros(event);" placeholder="Digite o telefone do contato (DDD + numeros)">
    </div>
    <button type="submit" class="btn btn-success">Alterar contato</button>
    <a class="btn btn-secondary" id="voltar" asp-controller="Contato" asp-action="Index">Voltar</a>
</form>

